.git
.gitignore
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ipynb_checkpoints
app.ipynb
README.md
workdir
tmp
temp
.cache
video-raw.mp4
video-processed.mp4
pose_landmarker_lite.task
